.App {
  text-align: center;
}


.Navbar {
  display: flex;
  background-color: aquamarine;
}

.Home {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.Signup {
  align-items: center;
  margin: 10px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 50%;
  width: 200px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.flex-container {
  width: 100%;
  display: flex;
  border-radius: 5px;
  padding: 20px;
  justify-content: center;

}

.container {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: aliceblue;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
