<h1>Register</h1>
<p style="font-weight: bold; color: green" id="resultId"></p>
<p style="font-weight: bold; color: green" id="resultUsername"></p>
<p style="font-weight: bold; color: red" id="errorMessage"></p>
<form action="/register_completed_ajax" method="post" id="myForm" onSubmit="checkBeforeSubmit(); return false;">
  Username: <input type="text" name="username" id="username"><br>
  Password: <input type="password" name="password" id="password"><br>
  Confirm Password: <input type="password" name="confirm_password" id="confirm_password"><br>
  Email: <input type="email" name="email" id="email"><br>
  Confirm Email: <input type="email" name="confirm_email" id="confirm_email"><br>
  <input type="submit" value="Submit">
</form>

<script>
  async function checkBeforeSubmit() {
    if ($('#username').val().length == 0) {
      $('#errorMessage').html('Username is empty!');
      return false;
    }
    if ($('#password').val().length == 0) {
      $('#errorMessage').html('Password is empty!');
      return false;
    }
    if ( $('#password').val() != $('#confirm_password').val() ) {
      $('#confirm_password').focus();
      $('#errorMessage').html('Password Mismatch!');
      return false;
    }
    if ($('#email').val().length == 0) {
      $('#errorMessage').html('Email is empty!');
      return false;
    }

    if ( $('#email').val() != $('#confirm_email').val() ) {
      $('#confirm_email').focus();
      $('#errorMessage').html('Email mismatch!');
      return false;
    }

    return await ajaxRequest();
  }

  async function ajaxRequest() {
    const url = '/register_completed_ajax';
    const data = {
        username: $('#username').val(),
        password: $('#password').val(),
        email: $('#email').val()
    }
    try {
        const res = await fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
        });
        const response = await res.json();
        console.log('Success:', response);
        if (response.errorMessage == '') {
            $('#resultId').html("Your User Id is: " + response.userId);
            $('#resultUsername').html("Your username is: " + response.username);
            $('#errorMessage').html('');
        } else {
            $('#errorMessage').html(response.errorMessage);
            $('#resultId').html('');
            $('#resultUsername').html('');
        }
    } catch (error) {
        console.error('Error:', error);
    }
    
    return false;
  }
</script>