<table id="table2" align="center">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
            <th>Create at</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(rows => { %>
            <tr>
                <td>
                    <%= rows.ISBN %>
                </td>
                <td>
                    <%= rows.Title %>
                </td>
                <td>
                    <%= rows.Price %>
                </td>
                <td>
                    <%= rows.created_at %>
                </td>
            </tr>
            <% }); %>

    </tbody>
</table>