<table id="table2" align="center">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Staff ID</th>
            <th>Sale Price</th>
            <th>Sale Volume</th>
            <th>Created_at</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(rows => { %>
            <tr>
                <td>
                    <%= rows.ISBN %>
                </td>
                <td>
                    <%= rows.staff_id %>
                </td>
                <td>
                    <%= rows.sale_price %>
                </td>
                <td>
                    <%= rows.sale_volume %>
                </td>
                <td>
                    <%= rows.created_at %>
                </td>
            </tr>
            <% }); %>

    </tbody>
</table>