<table id="table1" align="center">
    <thead>
        <tr>
            <th>id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Create at</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(rows => { %>
            <tr>
                <td>
                    <%= rows.id %>
                </td>
                <td>
                    <%= rows.Firstname %>
                </td>
                <td>
                    <%= rows.Lastname %>
                </td>
                <td>
                    <%= rows.Age %>
                </td>
                <td>
                    <%= rows.created_at %>
                </td>
            </tr>
            <% }); %>

    </tbody>
</table>