<table>
    <thead>
        <tr>
            <th>Course_Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(data => { %>
            <tr>
                <td>
                    <%= data.name %>
                </td>
                <td>
                    <%= data.price %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>

<br></br>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Student_Name</th>
            <th>Enrolled_Price</th>
        </tr>
    </thead>
    <tbody>
        <% data2.forEach(data2 => { %>
            <tr>
                <td>
                    <%= data2.id %>
                </td>
                <td>
                    <%= data2.name %>
                </td>
                <td>
                    <%= data2.enroll_price %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>