<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework14-1</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            text-align: center;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: rgb(3, 145, 240);
            color: white;
        }
    </style>
</head>

<body>
    <%- body %>
</body>

</html>