div.PictureCard {
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}

div.PictureCard2 {
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}

div.PictureCard3 {
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}

div.PictureCard4 {
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}

div.PictureCard5 {
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}