<table>
    <thead>
        <tr>
            <th>id</th>
            <th>course_name</th>
            <th>instructor_name</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(rows => { %>
            <tr>
                <td>
                    <%= rows.id %>
                </td>
                <td>
                    <%= rows.course_name %>
                </td>
                <td>
                    <%= rows.instructor_name %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>


<br></br>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>course_name</th>
            <th>instructor_name</th>
        </tr>
    </thead>
    <tbody>
        <% rows2.forEach(rows2 => { %>
            <tr>
                <td>
                    <%= rows2.id %>
                </td>
                <td>
                    <%= rows2.course_name %>
                </td>
                <td>
                    <%= rows2.instructor_name %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>