<% if (flash && flash.error) { %>
    <p style="color: red;"><%= flash.error %></p>
<% } %>

<form method="POST">
email: <input type="email" name="email"><br>
password: <input type="password" name="password"><br>
<button>Sign in</button>
</form>
<br>
<div class="fb-login-button" scope="public_profile,email" onlogin="myLoginSuccess();" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="false"></div>

<!--<fb:login-button 
  scope="public_profile,email"
  onlogin=" myLoginSuccess();"
  data-max-rows="1" 
  data-size="medium" 
  data-button-type="login_with" 
  data-show-faces="true" 
  data-auto-logout-link="true" 
  data-use-continue-as="false">
</fb:login-button>-->

<script>
window.fbAsyncInit = function () {
	FB.init({
		appId: '421849741616383',
		cookie: true,
		xfbml: true,
		version: 'v3.0'
	});

	FB.AppEvents.logPageView();
	myLoginSuccess();
	FB.Event.subscribe('auth.login', myLoginSuccess);
};
  
function myLoginSuccess() {
	FB.getLoginStatus(function (response) {
		console.log(response);
		if (response.status == 'connected')
			console.log('login success!!')
		else
			console.log('Have not logged in yet!!')

		FB.api("/me?fields=id,first_name,last_name,email", function (res) {
			fb_id = res.id
			firstName = res.first_name
			lastName = res.last_name

			const facebookLogin = async (fb_id, firstName, lastName) => {
				const result = await pool.query(`
									  INSERT INTO user
										(facebook_user_id, first_name, last_name)
									  VALUES (?, ?, ?)`,
					[fb_id, firstName, lastName])

				//return result[0][0].facebook_user_id
			}

		})
	})
}


</script>

<div id="fb-root"></div>
<script>
(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=421849741616383&autoLogAppEvents=1';
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>