<table id='table' align='center'>
    <thead>
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>salary</th>
            <th>role</th>
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(rows => { %>
            <tr>
                <td>
                    <%= rows.id %>
                </td>
                <td>
                    <%= rows.firstname %>
                </td>
                <td>
                    <%= rows.lastname %>
                </td>
                <td>
                    <%= rows.salary %>
                </td>
                <td>
                    <%= rows.role %>
                </td>
            </tr>
            <% }); %>

    </tbody>
</table>