<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
                <title>Title of the document</title>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    window.fbAsyncInit = function() {
                        FB.init({
                            appId: '421849741616383',
                            cookie: true,
                            xfbml: true,
                            version: 'v3.0'
                        });

                    console.log("window.fbAsyncInit function called!")
                    myLoginSuccess();
                    FB.AppEvents.logPageView();
                
                    FB.Event.subscribe('auth.login', myLoginSuccess);
                  };
                
  function myLoginSuccess() {
                        FB.getLoginStatus(function (response) {
                            console.log(response);
                            console.log(response.authResponse.accessToken);
                            if (response.status == 'connected')
                                console.log('login success!!');
                            else
                                console.log('Have not logged in yet');
                        });
                    }
                  
  function facebookLogin() {
                        FB.login(function (response) {
                            if (response.authResponse) {
                                console.log('Welcome!  Fetching your information.... ');
                                FB.api('/me?fields=id,first_name,last_name,email', function (response) {   
                                    const fbId = response.id
                                    const fbName = response.first_name
                                    const fbLast = response.last_name
                                    const fbMail = response.email

                                    //console.log(fbId)

                                    $("#fbID").val(fbId)
                                    $("#fbName").val(fbName)
                                    $("#fbLastName").val(fbLast)
                                    $("#fbEmail").val(fbMail)
                                    $("#fbForm").attr('action','/facebook_login').submit()
                                    //console.log('Good to see you, ' + response.name + '.');
                                });
                            } else {
                                console.log('User cancelled login or did not fully authorize.');
                            }
                        }, { scope: 'public_profile,email' });
                    }
                  
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return ;}
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
               
</script>
</head>
    <body>
        <fb: login-button 
                scope="public_profile,email"
                onlogin="myCallbackFunction();">
        </fb: login-button>
<button onclick="facebookLogin()">Facebook Login</button>
<form method="post" name="fbForm" id="fbForm">
<input type="hidden" id="fbID" name="fbID">
<input type="hidden" id="fbName" name="fbName">
<input type="hidden" id="fbLastName" name="fbLastName">
<input type="hidden" id="fbEmail" name="fbEmail">
</form>
</body>
</html>
